@{
    ViewBag.Title = "Tfl";
}

<div style="width:500px " >
<script language="JavaScript" src="http://www.tfl.gov.uk/tfl/syndication/widgets/serviceboard/embeddable/serviceboard-iframe-stretchy.js"></script></div>
